.principalSection {
    /* morado #530060 */
    height: 100vh;
    background: linear-gradient(to bottom right, #530060,#E7098A ); 
    background-repeat: no-repeat;
}
.principalSection img:first-child {
    width: 50%;
    height: auto;
    margin-top: 40vh;
    margin-left: 25%;
}
/* pagina One */
.backgrounImageOne {
    background-image: url('../assets/images/backgroundStreet.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vh;
}
.logoWhite {
    height: auto;
    width: 100px;
    margin-left: 20vh;
}
.logoPink {
    width: 100%;
    margin-top:20vh; 
}
#signIn, #signUp {
    border:1px solid white;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    margin-top: 20vh;
    padding: 15px;
}
#signIn {
    margin-left: 15vh;
}
/* Page Two */
#before, #back {
    color: black;
    border-radius: 100px;
    border: 1px solid black;
    padding: 6px 10px;
    margin: auto 10px;
}
.dropdown {
    display: inline;
}
.flag {
    padding: 5px;
    width: 50px;
    height: auto;
}
.characterInput {
    display: inline;
    margin-left: 2px;
    padding: 5px;
    margin-bottom: 10px;
}
/* Page three */
.textLab, .inputInsert {
    display: inline;
    margin-bottom: 10px;
}
.textLab {
    margin-left: 20vh;
    font-weight: bolder;
}
.inputInsert {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 40px;
}
.btncolor{
    background:#E7098A; 
    color: white;
    margin-top: 50vh;
}
.btncolor:hover {
    background-color: #530060;
    color: white;
}
/* page four */
#username, #lastname {
    display: inline;
    width: 140px;
}
.checkbox {
    margin-left: 10%;
}
/* page five */
.good {
    margin-top: 10vh;
    width: 100%;
}