<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>asddsadsasa</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
</head>
<body>
    FONDO
    <button class="btn">agregate</button>
    <button class="btn" id="signUp">sign up</button>
    <!-- declarations -->
    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../js/appOne.js"></script>
</body>
</html>