<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <section class="row">
            <div class="col-xs-12">
                <a href="#" id="back">
                    < </a>
                        <h1 class="text-center">Sign Up</h1>
                        <p class="text-center"> Join now for free ride credit</p>
                        <hr>
            </div>
        </section>
        <section class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" id="username">
                    <input type="text" class="form-control" placeholder="LastName" aria-describedby="basic-addon1" id="lastname">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </span>
                    <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1" id="email">
                </div>
                <div class="checkbox">
                    <label class="text-center">
                        <input type="checkbox" id="accept"> I agree to Lyft'ss <a href="#">Terms of Sercive</a>
                    </label>
                </div>
                <button class="btn btncolor btn-block" id="done" disabled>Next</button>
            </div>
        </section>
    </div>
    <!-- separación -->
    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/appFour.js"></script>
</body>

</html>