<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col-xs-12">
                <h2 class="text-center">Verify phone number</h2>
                <h4 class="text-center">Join now for free ride credit</h4>
            </div>
        </header>
        <section class="row">
            <div class="col-xs-12">
                <p class="textLab">LAB-</p><input  class="inputInsert" type="text" maxlength="3">
                <p class="text-center">Enter the code sent to +52</p>
                <button id="regenerate" class="btn center-block">Resend code</button>
            </div>
        </section>
        <section class="row">
            <div class="col-xs-12">
                <button id="sendNext"class="btn btn-block btncolor center-block">Next</button>
            </div>
        </section>
    </div>
    <!-- separación -->
    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/appThree.js"></script>
</body>
</html>