<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
</head>
<body class="backgrounImageOne">
    <img src="../assets/images/logo_lyft.png" alt="Logo" class="logoWhite">
    <img src="../assets/images/log-lyft-life.png" alt="Lyft Life" class="logoPink">
    <button class="btn" id="signIn">LOG IN</button>
    <button class="btn" id="signUp">SIGN UP</button>
    <!-- declarations -->
    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../js/appOne.js"></script>
</body>
</html>